[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = http://github.com/m2ym/auto-complete
